version: "3.8"

services:
  web:
    restart: on-failure
    container_name: name
    build: ./
    ports:
      - 8000:8000
    env_file:
      - .env.dev
    depends_on:
      - data
      - flower
    entrypoint: ["./entrypoint.sh"]
    networks:
      - app-network 

  data:
    container_name: data
    image: postgres:latest
    env_file:
      - .env.dev
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - APP_DB_USER=${APP_DB_USER}
      - APP_DB_PASS=${APP_DB_PASS}
      - APP_DB_NAME=${APP_DB_NAME}
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
      - ./db/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - app-network 

  celery:
    restart: always
    build:
      context: .
    volumes:
      - ./celery:/celery
    env_file:
      - .env.dev
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${APP_DB_NAME}
      - DB_HOST=${POSTGRES_HOST}
      - DB_USER=${APP_DB_USER}
      - DB_PASS=${APP_DB_PASS}
      - DB_NAME=${APP_DB_NAME}
    depends_on:
      - rabbit
    entrypoint: ["./celery_entrypoint.sh"]
    networks:
      - app-network 

  rabbit:
    restart: always
    hostname: rabbit
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBIT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBIT_PASS}
    ports:
      - "5672:5672"
    networks:
      - app-network 

  flower:
    build:
      context: .
    image: mher/flower
    volumes:
      - ./db/data/flower:/db/data/flower
    ports:
      - ${FLOWER_PORT}:${FLOWER_PORT}
    env_file:
      - .env.dev
    environment: 
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
    depends_on: 
      - rabbit
    entrypoint: ["./flower_entrypoint.sh"]
    networks:
        - app-network 

networks:
  app-network:
    driver: bridge
    
volumes:
  data:
    external: true