{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="parent dboard-header">
  <div class="child dboard-title">
    <h1>Dashboard</h1>
  </div>
  <div class="indicator">
    {% if request.user.profile.spotify_connected %}
    <div class="child dboard-sync">
      <img src="/static/img/spotify_logo.png" class="logo">
      <div class="spotify-status connected"></div>
    </div>
    <a href="">Sync with Spotify</a>
    {% else %}
    <div class="child dboard-sync dboard-notconnected">
      <img src="/static/img/spotify_logo.png" class="logo">
      <div class="spotify-status notconnected"></div>
    </div>
    <a href="{% url "social:begin" "spotify" %}">Connect with Spotify</a>
    {% endif %}
  </div>
</div>

<br><br>
<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 50%;">
    <col span="1" style="width: 50%;">
  </colgroup>
  <tbody>
    <tr>
      <td>
        <h3 style="text-align: center"><u>Top 5 Artists</u></h3>
        <div id="top_artists"></div>
      </td>
      <td>
        <h3 style="text-align: center"><u>Top Genres</u></h3>
        <ul id="two-columns">
          <div id="top_genres"></div>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <table style="width: 100%">
          <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 55%;">
            <col span="1" style="width: 40%;">
          </colgroup>
          <caption>
            <h3 style="text-align: center"><u>Top 5 Tracks</u></h3>
          </caption>
          <thead>
            <td>Rank</td>
            <td>Track</td>
            <td>Artists</td>
          </thead>
          <tbody id="top_tracks">
          </tbody>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="text-align: center"><u>Current Track Analysis</u></h3>
        <div id="radar_charts_0"></div>
      </td>
      <td>
        <h3 style="text-align: center"><u>Top Tracks Analysis</u></h3>
        <div id="radar_charts_1"></div>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="text-align: center"><u>Recent Tracks Analysis</u></h3>
        <div id="radar_charts_2"></div>
      </td>
      <td>
        <h3 style="text-align: center"><u>Liked Tracks Analysis</u></h3>
        <div id="radar_charts_3"></div>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="text-align: center"><u>Playlist Tracks Analysis</u></h3>
        <div id="radar_charts_4"></div>
      </td>
      <td>
        <h3 style="text-align: center"><u>Saved Album Tracks Analysis</u></h3>
        <div id="radar_charts_5"></div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <br>
        <div class="distributionHeader"><u>Track Features Distribution</u></div>
        <div class="dropdown">
          <button class="dropbtn">All Tracks</button>
          <div class="dropdown-content">
            <a href="#">All Tracks </a>
            <a href="#">Liked Tracks</a>
            <a href="#">Recent Tracks</a>
            <a href="#">Top Tracks</a>
            <a href="#">Saved Album Tracks</a>
          </div>
        </div>
          <table style="width: 100%">
            <colgroup>
              <col span="1" style="width: 33%;">
              <col span="1" style="width: 34%;">
              <col span="1" style="width: 33%;">
            </colgroup>
            <tbody>
              <tr>
                <td><br><u>Danceability</u><br>
                  <div id="histo_charts_0"></div>
                </td>
                <td><br><u>Energy</u><br>
                  <div id="histo_charts_1"></div>
                </td>
                <td><br><u>Key</u><br>
                  <div id="histo_charts_2"></div>
                </td>
              </tr>
              <tr>
                <td><br><u>Loudness</u><br>
                  <div id="histo_charts_3"></div>
                </td>
                <td><br><u>Mode</u><br>
                  <div id="histo_charts_4"></div>
                </td>
                <td><br><u>Speechiness</u><br>
                  <div id="histo_charts_5"></div>
                </td>
              </tr>
              <tr>
                <td><br><u>Acousticness</u><br>
                  <div id="histo_charts_6"></div>
                </td>
                <td><br><u>Instrumentalness</u><br>
                  <div id="histo_charts_7"></div>
                </td>
                <td><br><u>Liveness</u><br>
                  <div id="histo_charts_8"></div>
                </td>
              </tr>
              <tr>
                <td><br><u>Valence</u><br>
                  <div id="histo_charts_9"></div>
                </td>
                <td><br><u>Tempo</u><br>
                  <div id="histo_charts_10"></div>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </tbody>
</table>
<br><br>
<a href="{% url "edit" %}">edit your profile</a> or <a
href="{% url "password_change" %}">change your password</a>.
{% endblock %}
{% block domready %}
var taskid = "{{analyze_task_id}}";

get_task_info(taskid);

function get_task_info(tid) {
    $.ajax({
        type: 'get',
        url: '/get-task-status/',
        data: {'task_id': tid},
        success: function (data) {
            if(data.state == 'SUCCESS'){
              var artists_list_html = "<ol>";
              for (var i=0; i < data.top_lists[0].length; i++) {
                artists_list_html += "<li>" + data.top_lists[0][i]["name"] + "</li>";
              }
              artists_list_html += "</ol>";
              $('#top_artists').html(artists_list_html);

              var genre_list_html = "";
              for (var i=0; i < data.top_lists[1].length; i++) {
                genre_list_html += "<li>" + data.top_lists[1][i] + "</li>";
              }
              $('#top_genres').html(genre_list_html);

              var top_tracks_html = "";
              for (var i=0; i < data.top_lists[2].length; i++) {
                top_tracks_html += "<tr>";
                top_tracks_html += "<td>" + (i + 1) + "</td>";
                top_tracks_html += "<td>" + data.top_lists[2][i]["data"]["name"] + "</td>";
                top_tracks_html += "<td><ul>";
                for (var j=0; j < data.top_lists[2][i]["data"]["artists"].length; j++) {
                  top_tracks_html += "<li>" + data.top_lists[2][i]["data"]["artists"][j]["name"] + "</li>";
                }
                top_tracks_html += "</ul></td>";
                top_tracks_html += "</tr>";
              }
              $('#top_tracks').html(top_tracks_html);

              $('#radar_charts_0').html(data.radar_charts[0]);
              $('#radar_charts_1').html(data.radar_charts[1]);
              $('#radar_charts_2').html(data.radar_charts[2]);
              $('#radar_charts_3').html(data.radar_charts[3]);
              $('#radar_charts_4').html(data.radar_charts[4]);
              $('#radar_charts_5').html(data.radar_charts[5]);

              $('#histo_charts_0').html(data.histo_charts[1][0]);
              $('#histo_charts_1').html(data.histo_charts[1][1]);
              $('#histo_charts_2').html(data.histo_charts[1][2]);
              $('#histo_charts_3').html(data.histo_charts[1][3]);
              $('#histo_charts_4').html(data.histo_charts[1][4]);
              $('#histo_charts_5').html(data.histo_charts[1][5]);
              $('#histo_charts_6').html(data.histo_charts[1][6]);
              $('#histo_charts_7').html(data.histo_charts[1][7]);
              $('#histo_charts_8').html(data.histo_charts[1][8]);
              $('#histo_charts_9').html(data.histo_charts[1][9]);
              $('#histo_charts_10').html(data.histo_charts[1][10]);
            }
            if (data.state != 'SUCCESS') {
                setTimeout(function () {
                    get_task_info(tid)
                }, 500);
            }
        }
    });
}
{% endblock %}
